<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'pydoc/pydoctheme.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'pydoc/pygments.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'pydoc/default.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'pydoc/basic.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'extractor/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'extractor/themes/ui-lightness/jquery-ui-1.10.4.css' %}" />

    <script type="text/javascript" src="{% static 'extractor/rangy/rangy-core.js' %}"></script>
    <script type="text/javascript" src="{% static 'extractor/rangy/rangy-cssclassapplier.js' %}"></script>
    <script type="text/javascript" src="{% static 'extractor/rangy/rangy-textrange.js' %}"></script>
    <script type="text/javascript" src="{% static 'extractor/rangy/rangy-serializer.js' %}"></script>
    <script type="text/javascript" src="{% static 'extractor/jquery-2.1.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'extractor/jquery-ui-1.10.4.js' %}"></script>
    {% block head %}{% endblock %}
</head>
<body>
  <ul id="fixed-menu">
      {% if user.is_authenticated %}
      <li><a href="/pydoc/myunits/">Next Documentation Unit</a></li>
      <li><a href="/pydoc/markedunits/">Marked Units</a></li>
      <li><a href="/pydoc/mystats/">Stats</a></li>
      <li><a href="http://www.inf.fu-berlin.de/w/SE/ThesisPythonDokuInfotypenCodingHandbook"
             target="_blank">Coding Handbook</a></li>
      <li><a href="https://bitbucket.org/svenwildermann/python-doc-application/issues"
             target="_blank">Bugtracker</a></li>
      {% if user.is_superuser %}
      <li><a href="/pydoc/randomunit/">Random-Unit</a></li>
      {% endif %}
      <li><a href="/pydoc/logout/">Logout</a></li>
      {% else %}
      <li><a href="/pydoc/">Login</a></li>
      {% endif %}

  </ul>
  <div id="pagecontent">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
