<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% load coffeescript %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'extractor/pydoctheme.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'extractor/pygments.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'extractor/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'extractor/themes/ui-lightness/jquery-ui-1.10.4.css' %}" />
    <script type="text/javascript" src="{% static 'extractor/rangy/rangy-core.js' %}"></script>
    <script type="text/javascript" src="{% static 'extractor/rangy/rangy-cssclassapplier.js' %}"></script>
    <script type="text/javascript" src="{% static 'extractor/rangy/rangy-textrange.js' %}"></script>
    <script type="text/javascript" src="{% static 'extractor/rangy/rangy-serializer.js' %}"></script>
    <script type="text/javascript" src="{% static 'extractor/jquery-2.1.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'extractor/jquery-ui-1.10.4.js' %}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}{% coffeescript 'extractor/main.coffee' %}"></script>
    {% block head %}{% endblock %}
</head>
<body>
  {% block content %}{% endblock %}
</body>
</html>