{% extends "base.html" %}

{% if error_message %}<p xmlns="http://www.w3.org/1999/html"><strong>{{ error_message }}</strong></p>{% endif %}

{% block title %}Agreement{% endblock %}
{% block head %}
    {% load static %}
{% endblock %}

{% block content %}
<h1>Compatible!</h1>
    Compatible: {{ compatible }} <br>
    Trues: {{ trues }} <br>
    Falses: {{ falses }}  <br>
    Total: {{ total }} <br>
    In Percent: {{ in_percent }}, <br>
    Trues in Char: {{ true_chars }}<br>
    False in Char: {{ false_chars }}<br>
    Check if is 100: {{ add_both }}<br>

{% endblock %}
