{% extends "base.html" %}

{% block title %}General Statistics{% endblock %}
{% block head %}{% endblock %}

{% block content %}
{% csrf_token %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<table border="0" class="center-table">
  <tr>
    <th>Description</th>
    <th>Number of elements</th>
  </tr>
  <tr>
    <td>saved units (including units without markings)</td>
    <td>{{total_marked_units}}</td>
  </tr>
  <tr>
    <td>marked units (only with at least 1 marking)</td>
    <td>{{all_distinct}}</td>
  </tr>
  <tr>
    <td>elements left</td>
    <td>{{total_unmarked_units}}</td>
  </tr>
  <tr>
    <td>in total</td>
    <td>{{total_units}}</td>
  </tr>
</table>


<table border="1" class="center-table">
  <tr>
    <th>Student</th>
    <th>saved elements</th>
    <th>in 14 days</th>
    <th>in 8 days</th>
    <th>in 4 days</th>
    <th>in 2 days</th>
  </tr>
  <tr>
  {% for key, value in units_per_student.items %}
      <td>{{key.username}} </td>
      {% for items in value %}
        <td>{{items}}</td>
      {% endfor %}
  </tr>
 {% endfor %}
</table>

<table border="1" class="center-table">
  <tr>
    <th>Student</th>
    <th>total agreement</th>
    <th>in 14 days</th>
    <th>in 8 days</th>
    <th>in 4 days</th>
    <th>in 2 days</th>
  </tr>
  <tr>
  {% for key, value in agreement_per_student.items %}
      <td>{{key.username}} </td>
      {% for items in value %}
        <td>{{items}}</td>
      {% endfor %}
  </tr>
 {% endfor %}
</table>

<table border="1" class="center-table">
  <tr>
    <th>Validator</th>
    <th>saved elements</th>
    <th>in 14 days</th>
    <th>in 8 days</th>
    <th>in 4 days</th>
    <th>in 2 days</th>

  </tr>
  <tr>
  {% for key, value in units_per_validator.items %}
      <td>{{key.username}} </td>
      {% for items in value %}
        <td>{{items}}</td>
      {% endfor %}
  </tr>
 {% endfor %}
</table>




{% endblock %}