{% extends "base.html" %}

{% block title %}General Statistics{% endblock %}
{% block head %}{% endblock %}

{% block content %}
{% csrf_token %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<table border="0" class="center-table">
  <tr>
    <th>Description</th>
    <th>Number of elements</th>
  </tr>
  <tr>
    <td>saved units (including units without markings)</td>
    <td>{{total_marked_units}}</td>
  </tr>
  <tr>
    <td>marked units (only with at least 1 marking)</td>
    <td>{{all_distinct}}</td>
  </tr>
  <tr>
    <td>elements left</td>
    <td>{{total_unmarked_units}}</td>
  </tr>
  <tr>
    <td>in total</td>
    <td>{{total_units}}</td>
  </tr>
</table>

{% endblock %}