
{% if error_message %}<p xmlns="http://www.w3.org/1999/html"><strong>{{ error_message }}</strong></p>{% endif %}


<head>
    <meta charset="utf-8">
     <title>Code this Documentation-Unit</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'extractor/pydoctheme.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'extractor/pygments.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'extractor/main.css' %}" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"/>
    <script type="text/javascript" src="http://rangy.googlecode.com/svn/trunk/dev/rangy-core.js"></script>
    <script type="text/javascript" src="http://rangy.googlecode.com/svn/trunk/dev/rangy-cssclassapplier.js"></script>
    <script type="text/javascript" src="http://rangy.googlecode.com/svn/trunk/dev/rangy-serializer.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script type="text/javascript" src="{% static 'extractor/main.js' %}"></script>
  </head>
<body>
{% autoescape off %}
    <h1 id="documentationunitid" class="{{object.id}}">documentation unit: {{object.id}}</h1>
    <hr />
    <div id="objecttext">{{object.html_text}}</div>
{% endautoescape %}

 <ul id="typemenu">
     <lh>Types</lh>
     <li id="1" class="functionalityandbehavior"><a href="#">Functionality and Behavior</a></li>
     <li id="2" class="concepts"><a href="#">Concepts</a></li>
     <li id="3" class="directives"><a href="#">Directives</a></li>
     <li id="4" class="purposes"><a href="#">Purpose and Rationale</a></li>
     <li id="5" class="qualityattributes"><a href="#">Quality Attributes and Internal Aspects</a></li>
     <li id="6" class="controlflow"><a href="#">Control-Flow</a></li>
     <li id="7" class="structure"><a href="#">Structure and Relationships</a></li>
     <li id="8" class="patterns"><a href="#">Patterns</a></li>
     <li id="9" class="codeexamples"><a href="#">Code Examples</a></li>
     <li id="10" class="environment"><a href="#">Environment</a></li>
     <li id="11" class="external"><a href="#">External References</a></li>
     <li id="12" class="noninformation"><a href="#">Non-Information</a></li>
  </ul>

    <hr />

     <button id="submitbutton">Save</button>
     <button id="deletebutton">Delete All</button>

     <a href="{% url 'documentationunit:parent' object.id %}">Show Parent</a>
     <a href="{% url 'documentationunit:file' object.id %}">Show File</a>

</body>
