{% extends "base.html" %}
{% block title %}File: {{object.filename}}{% endblock %}

{% block head %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'pydoc/underscore.js' %}"></script>
    <script type="text/javascript" src="{% static 'pydoc/doctools.js' %}"></script>
    <script type="text/javascript" src="{% static 'pydoc/sidebar.js' %}"></script>
    <script type="text/javascript" src="{% static 'pydoc/copybutton.js' %}"></script>
    <script type="text/javascript" src="{% static 'pydoc/searchtools.js' %}"></script>
    <script type="text/javascript" src="{% static 'pydoc/version_switch.js' %}"></script>
{% endblock %}

{% block content %}

{% csrf_token %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% autoescape off %}
    <h2>This is the file where unit {{object.id}} is stored in </h2>
        <h4>filename: {{object.filename}}</h4>
         <a href="javascript:history.back();">Back</a>
        <hr />
            <div id="filetext">{{object.file_text}}</div>
{% endautoescape %}

 <hr />
 <a href="{% url 'documentationunit:detail' object.id %}">Show Unit</a>

{% endblock %}