{% extends "base.html" %}

{% block title %}Saved units{% endblock %}
{% block head %}{% endblock %}

{% block content %}
{% csrf_token %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
  <p><strong>This list contains every unit which was saved.. </strong></p>
<div id="unit-list">
   <ul>
    {% for unit in units %}
       <li><a href="/pydoc/{{ unit.documentation_unit.id }}/">ID: {{unit.documentation_unit.id}}
           <strong>{{ unit.documentation_unit.filename }}</strong>
           <strong>Type:</strong> {{ unit.documentation_unit.type }}
           <strong>Unmarked Chars:</strong> {{unit.unmarked_chars}}
           Length: {{unit.documentation_unit.plaintext|length}}
           Unmarked in percent: {{unit.unmarked_percent}} %
       </a></li>

    {% endfor %}
   </ul>
</div>
{% endblock %}