{% extends "base.html" %}

{% block title %}Saved units{% endblock %}
{% block head %}{% endblock %}

{% block content %}
{% csrf_token %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
  <p><strong>This list contains every unit which was saved.. </strong></p>
<div id="unit-list">
   <ul>
    {% for unit in units %}
       <li><a href="/pydoc/{{ unit.id }}/">ID: {{unit.id}}  <strong>{{ unit.filename }}</strong>Type: {{ unit.type }}</a></li>
    {% endfor %}
   </ul>
</div>
{% endblock %}