{% extends "base.html" %}

{% block title %}My Statistic{% endblock %}
{% block head %}{% endblock %}

{% block content %}
{% csrf_token %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<p> Hello {{user.first_name}} {{user.last_name}}, this page is all about you. </p>

<table border="0" class="center-table">
  <tr>
    <th>Description</th>
    <th>total elements</th>
    <th>last 14 days</th>
    <th>last 8 days</th>
    <th>last 4 days</th>
    <th>last 2 days</th>
  </tr>
  <tr>
    <td>Already saved elements</td>
    <td>{{total_marked_units}}</td>
    <td>{{marked_14}}</td>
    <td>{{marked_8}}</td>
    <td>{{marked_4}}</td>
    <td>{{marked_2}}</td>
  </tr>
  <tr>
    <td>elements left</td>
    <td>{{total_unmarked_units}}</td>
  </tr>
  <tr>
    <td>saved and unsaved</td>
    <td>{{total_units}}</td>
  </tr>
  <tr>
    <td>agreement in %</td>
    <td>{{agreement_total}}</td>
    <td>{{agreement_14}}</td>
    <td>{{agreement_8}}</td>
    <td>{{agreement_4}}</td>
    <td>{{agreement_2}}</td>
  </tr>
  <tr>
    <td>agreement based on </td>
    <td>{{agreement_total_count}} units</td>
    <td>{{agreement_14_count}} units</td>
    <td>{{agreement_8_count}} units</td>
    <td>{{agreement_4_count}} units</td>
    <td>{{agreement_2_count}} units</td>
  </tr>

</table>

<p>Keep in mind: The agreement per unit also changes if the saving of an other participant changes. </p>
<p>Please do not change your markings if you are pretty sure that these are correct. </p>

        
{% endblock %}