{% extends "base.html" %}

{% block title %}Parent of documentation unit{% endblock %}
{% block head %}{% endblock %}

{% block content %}
{% csrf_token %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% autoescape off %}
    <h2>This is the parent of documentation unit {{object.id}}</h2>
        <a href="javascript:history.back();">Show Unit</a>
        <hr />
            <div id="objecttext">{{object.parent_text}}</div>
{% endautoescape %}

 <hr />
 <a href="{% url 'documentationunit:detail' object.id %}">Show Unit</a>
{% endblock %}