body {
    margin: 5mm;
}
.center-table {
    text-align: center;
    margin-top: 10px;

}
#typemenu {
    position: absolute;
    padding: 7px;
    top: 0px;
    left: 0px;
    font-size: 10pt;
}
#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

#sortable li {
    margin: 3px 3px 3px 0;
    padding: 1px;
    float: left;
    width: 150px;
    height: 40px;
    font-size: 1em;
    font-weight: normal;
    color: black;
    background: none;
    text-align: center;
    cursor: pointer;
}

li.delete-list-entry {

}

#marked-unit-list { width:95%; font-size:15px; }
#marked-unit-list ul { list-style: none; }
#marked-unit-list ul li { }
#marked-unit-list ul li a {
  display:block;
  text-decoration:none;
  color:#000000;
  background-color:#FFFFFF;
  line-height:30px;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-bottom-color:#CCCCCC;
  padding-left:10px;
  cursor:pointer;
}

#marked-unit-list ul li a:hover {
  color:#FFFFFF;
  background-color:#3F93F4;
  }

#marked-unit-list ul li a strong { margin-right:10px; }

#fixed-menu {
  margin: 0;
  padding: 5px;
  padding-left: 20px;
  width: 100%;
  z-index: 9999;
  position: fixed;
  top: 0px;
  left: 0;
  list-style: none;
  border-bottom: 2px solid black;
  background-color: #ADD8E6;
}

#fixed-menu li {
  padding: 4px 4px 4px 0;
  margin-right: 10px;
  float: left;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: #cccccc;
  font-weight: bold;
}

a.admin {
  color: #ff836d;
}
a.external {
    color: #5c5557
}


#pagecontent {
  margin-top: 50px;
}

#typemenu lh {
    margin: 5px;
}

#typemenu li {
    margin: 2px;
}

#objecttext {

}

.markedtext {
}

#markedunits li {
    list-style: none;
    padding: 0 0 0 5px;
}

#markedunits li .ui-icon { float :left; }

.functionalityandbehavior {
    background-color: #FF8282;
}

.concepts {
    background-color: #FFC082;
}

.directives {
    background-color: #FFFF82;
}

.purposes {
    background-color: #C0FF82 ;
}

.qualityattributes {
    background-color: #82FF82;
}

.controlflow {
    background-color: #82FFC0;
}

.structure {
    background-color: #82FFFF;
}

.patterns {
    background-color: #82C0FF;
}

.codeexamples {
    background-color: #8282FF;
}

.environment {
    background-color: #C082FF;
}

.externalreferences {
    background-color: #FF82FF;
}

.noninformation {
    background-color: #FF82C0;
}