#typemenu {
    position: absolute;
    padding: 7px;
    top: 0px;
    left: 0px;
    font-size: 10pt;
}
#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

#sortable li {
    margin: 3px 3px 3px 0;
    padding: 1px;
    float: left;
    width: 150px;
    height: 40px;
    font-size: 1em;
    font-weight: normal;
    color: black;
    background: none;
    text-align: center;
    cursor: pointer;
}

li.delete-list-entry {

}

#typemenu lh {
    margin: 5px;
}

#typemenu li {
    margin: 2px;
}

#objecttext {

}

.markedtext {
}

#markedunits li {
    list-style: none;
    padding: 0 0 0 5px;
}

#markedunits li .ui-icon { float :left; }

.functionalityandbehavior {
    background-color: Khaki;
}

.concepts {
    background-color: lightcoral;
}

.directives {
    background-color: lightblue;
}

.purposes {
    background-color: lightgreen ;
}

.qualityattributes {
    background-color: silver;
}

.controlflow {
    background-color: grey;
}

.structure {
    background-color: mediumpurple;
}

.patterns {
    background-color: mediumspringgreen;
}

.codeexamples {
    background-color: YellowGreen;
}

.environment {
    background-color: Tomato;
}

.externalreferences {
    background-color: #5eaeff;
}

.noninformation {
    background-color: #4bff47;
}